
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
 .input-field {
  @apply border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-teal-500;
 }
          
@theme {

        --color-primary: #3A59D1;
        --color-secondary: #3D90D7;
        --color-accent: #7AC6D2;
        --color-success-bg: #B5FCCD;
        --color-error: #EF4444;
        --color-dark: #1F2937;
        --color-light: #6B7280;
        --color-background: #F8FAFC;
        --color-card-bg: #FFFFFF;
}